@font-face {
    font-family: IRANSans;
    src: url("../../assets/fonts/IRANSansWeb.woff2") format("woff2"),
    url("../../assets/fonts/IRANSansWeb.woff") format("woff"),
    url("../../assets/fonts/IRANSansWeb.ttf") format("truetype");
}

body {
    direction: rtl;
    font-family: IRANSans !important;
    color: #000 !important;
}

.sidebar {
    right: 0;
    left: auto;
    transform: translate3d(100%, 0, 0);
}

body.menu-pinned #container {
    padding-right: 17.85714rem;
    padding-left: 0
}

.user-tools ul {
    position: absolute;
    top: 0.78571rem;
    right: auto;
    left: 1.42857rem;

}

.add-dashboard-link-icon,
.reset-dashboard-link-icon {
    color: #fff
}

.add-dashboard-link {
    border-radius: 0.28571rem !important;
    margin-right: 5px
}

.sidebar-link, .sidebar-link:visited, .sidebar-link:hover {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
}

.sidebar-right {
    float: left;
    rotate: 180deg;
    display: flex;
    margin-right: auto;
}

.dashboard-tools {
    position: absolute;
    top: 0.78571rem;
    left: 15.35714rem;
    right: auto
}

fieldset .field-box {
    float: right;
}

.submit-row input, .submit-row input:visited, .submit-row input:hover {
    font-weight: 600;
    font-family: 'IRANSANS' !important;
    background: #445165;
}

form .aligned p.help:last-child {
    color: #000;
}

.changeform-tabs-item a, .changeform-tabs-item a:hover, .changeform-tabs-item a:visited {
    color: #000000 !important;
    font-size: 13px;
}

input {
    /*font-weight: 600;*/
    font-family: 'IRANSANS' !important;
    color: #fffdfd !important;
}

.object-tools a {
    font-family: 'IRANSANS' !important;
    color: #fffdfd !important;
    background: #354052;
}

input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"], textarea, select, .vTextField {
    color: #000000 !important;
    min-width: 170px;
}

.cke_top, .cke_bottom {
    background: #1e6ba32e !important;
}


div.breadcrumbs a, div.breadcrumbs a:visited {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}

.dashboard-item-header-title {
    font-size: 15px;
}

.button, .button:visited, .button:hover, input[type="submit"], input[type="submit"]:visited, input[type="submit"]:hover, input[type="button"], input[type="button"]:visited, input[type="button"]:hover, .object-tools a, .object-tools a:visited, .object-tools a:hover {
    background-color: #59677e;
    color: #fff;
}

.object-tools a.addlink:before {
    color: #d5d5d5;
}

div.breadcrumbs {
    padding: 0.71429rem 1.42857rem 0.71429rem 15.35714rem;
}

.breadcrumbs-separator {
    rotate: 180deg;
    color: #7da0c3;
    display: inline-block;
}

.changeform-navigation.initialized {
    display: flex;
    flex-direction: row-reverse;

}

.changeform-navigation-button-icon.left + .changeform-navigation-button-label,
.changeform-navigation-button-icon.right + .changeform-navigation-button-label {
    color: #000
}

.aligned label {
    float: right;
    margin-bottom: 15px;
    background: #0284c724;
    padding: 8px 10px !important;
    border-radius: 7px;
    color: #0ea5e9;
    /* box-shadow: 2px 1px 5px 1px #0284c752,inset 2px 1px 5px 1px #0284c752; */
    outline: 2px dotted #0284c752;
    margin-left: 10px;
    outline-offset: 2px;
}

table thead th {
    text-align: center;
    font-size: 14px;
}

thead th:first-child, tfoot td:first-child {
    border-radius: 0 0.28571rem 0 0;
}

thead th:last-child, tfoot td:last-child {
    border-radius: 0 4px 0 0;
    border-radius: 0.28571rem 0 0 0;
}

th {
    text-align: right;
}

#changelist .actions .button, #changelist .actions .button:visited, #changelist .actions .button:hover {
    font-family: 'IRANSANS';
}

.sidebar-container-toggle {
    float: right;
    padding: 0.71429rem 1.42857rem 0.71429rem 0;
}

.help, p.help, form p.help {
    color: black
}

.sidebar-popup-container {
    right: 17.85714rem;
    left: 0;
}

.sidebar-popup {
    right: 0;
}

.sidebar-popup-search {
    color: black !important;
}

td{
    text-align:center;
}

th > a{
  display: flex;
  justify-content: center;
  align-items: center;
}

body.menu-pinned .changelist-footer.fixed {
    right: 19.28571rem;
    left: 0;
    padding: 15px 30px;
}

.select2-container--jet {
    min-width: 18.42857rem;
}


body.menu-pinned table.helper {
    right: 19.28571rem;
    left: 0;
}



